@import "../bower_components/less-easing/less/less-easing.less";
@import "../bower_components/lesshat/build/lesshat.less";


// Variables

@serif-font-family: "karmina", "Georgia", serif;
@sans-serif-font-family: "canada-type-gibson", "Helvetica", "Arial", sans-serif;

@phone: ~'only screen and ( max-width: 767px )';


body,
html {
	margin: 0;
	height: 100%;
	font: normal 16px @serif-font-family;
	background: #fff;
	color: #4b545b;	
	-webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
	.box-sizing(border-box);
}

h1,
h2,
h3,
h4 {
	font-family: @sans-serif-font-family;
	font-weight: 200;
}

a {
	color: #7ec348;
	text-decoration: none;
	
	&:hover {
		color: fade(#7ec348, 65);
	}
	
}

.btn {
	.transition(0.35s);
	
	border: solid 1px #8e83b5;
	border-radius: 4px;
	padding: 10px 14px;
	color: #8e83b5;
	font: normal 16px / 1 @sans-serif-font-family;
	text-decoration: none;
	display: inline-block;
	
	&:hover {
		border-color: fade(#8e83b5, 35);
		color: #8e83b5;
	}
	
	&.btn-demo {
  	border-color: #7ec348;
  	color: #7ec348;
  	
  	&:hover {
  		border-color: fade(#7ec348, 35);
  		color: #7ec348;
  	}
  	  	
	}
	
}

.site__header {
	background: #579029 url("../img/topo-bg.png");
	background-size: 400px;
	padding: 60px 10%;
	text-align: center;
	color: #fff;
	
	.header__logo {
		width: 60px;
		display: inline-block;
		
		img {
			display: block;
			width: 100%;
		}
		
	}
	
	.header__title {
		font-size: 40px;
		line-height: 1;
		margin: 0.75em auto 0;
		max-width: 700px;
		
		@media @phone {
			font-size: 30px;
		}
		
	}
	
}
// .site__header

.site__content {
	max-width: 900px;
	margin: 0 auto 50px;
	
	.content__intro {
		text-align: center;
		padding: 50px 5%;
		
		h2 {
			color: #676c70;
			font-size: 220%;
			margin-top: 0;
			
			&:after {
				height: 2px;
				width: 5%;
				min-width: 40px;
				background: #7ec348;
				margin: 0.65em auto;
				display: block;
				content: "";
			}
			
		}
		
		p {
			margin: 0 auto;
			max-width: 800px;
			font-size: 110%;
			line-height: 1.6;
		}
		
		@media @phone {
			
			font-size: 14px;
			
		}
		
	}
	// .content__intro
	
	.content__projects {
		.display(flex);
		.flex-wrap(wrap);
		.align-items(stretch);
		
		.project {
			.flex-basis(50%);
			.display(flex);
			.flex-direction(column);
			.align-items(stretch);

			margin-bottom: 30px;
			
			@media @phone {
				.flex-basis(100%);
			}
			
			.project__header {
				.display(flex);
				.align-items(stretch);
				
				background: #6e5ea6;
				color: #fff;
				margin: 0 15px;
				border-radius: 4px 4px 0 0;
				
				.icon {
					.flex-basis(80px);
					.display(flex);
					.align-items(center);
					.justify-content(center);
					
					background: #544686;
					border-radius: 4px 0 0 0;
					
					img {
						display: block;
						width: 50%;
					}
					
				}
				
				.title {
					padding: 24px 20px;
					margin: 0;
					font-size: 25px;
					line-height: 1;
					
					a {
						.transition(0.25s);
						
						color: inherit;
						text-decoration: none;
						
						&:hover {
							opacity: 0.65;
						}
						
					}
					
				}
				
			}
			// .project__header
			
			.project__info {
  			.flex(auto);
				margin: 0 15px;
				overflow: hidden;
				padding: 20px;
				border: solid 1px #e5e5e5;
				border-radius: 0 0 4px 4px;
				border-top: 0;
				
				p {
					color: #8e9498;
					font-family: @sans-serif-font-family;
					line-height: 1.5;
					max-width: 90%;
				}
				
				.btn {
					margin-top: 10px;
					margin-bottom: 10px;
					
					&:not(:last-child) {
  					margin-right: 6px;
					}
					
				}
				
			}
			// .project__info
			
		}
		// .project
		
	}
	// .content__projects
	
	.content__footer {
		color: #8e9498;
		font: normal 14px / 1 @sans-serif-font-family;
		text-align: center;
		
		a {
			color: inherit;
			
			&:hover {
				color: #7ec348;
			}
			
		}
		
		
	}
	// .content__footer
	
}
// .site__content


