body,
html {
  margin: 0;
  height: 100%;
  font: normal 16px "karmina", "Georgia", serif;
  background: #fff;
  color: #4b545b;
  -webkit-font-smoothing: antialiased;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  font-family: "canada-type-gibson", "Helvetica", "Arial", sans-serif;
  font-weight: 200;
}
a {
  color: #7ec348;
  text-decoration: none;
}
a:hover {
  color: rgba(126, 195, 72, 0.65);
}
.btn {
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
  border: solid 1px #8e83b5;
  border-radius: 4px;
  padding: 10px 14px;
  color: #8e83b5;
  font: normal 16px / 1 "canada-type-gibson", "Helvetica", "Arial", sans-serif;
  text-decoration: none;
  display: inline-block;
}
.btn:hover {
  border-color: rgba(142, 131, 181, 0.35);
  color: #8e83b5;
}
.btn.btn-demo {
  border-color: #7ec348;
  color: #7ec348;
}
.btn.btn-demo:hover {
  border-color: rgba(126, 195, 72, 0.35);
  color: #7ec348;
}
.site__header {
  background: #579029 url("../img/topo-bg.png");
  background-size: 400px;
  padding: 60px 10%;
  text-align: center;
  color: #fff;
}
.site__header .header__logo {
  width: 60px;
  display: inline-block;
}
.site__header .header__logo img {
  display: block;
  width: 100%;
}
.site__header .header__title {
  font-size: 40px;
  line-height: 1;
  margin: 0.75em auto 0;
  max-width: 700px;
}
@media only screen and ( max-width: 767px ) {
  .site__header .header__title {
    font-size: 30px;
  }
}
.site__content {
  max-width: 900px;
  margin: 0 auto 50px;
}
.site__content .content__intro {
  text-align: center;
  padding: 50px 5%;
}
.site__content .content__intro h2 {
  color: #676c70;
  font-size: 220%;
  margin-top: 0;
}
.site__content .content__intro h2:after {
  height: 2px;
  width: 5%;
  min-width: 40px;
  background: #7ec348;
  margin: 0.65em auto;
  display: block;
  content: "";
}
.site__content .content__intro p {
  margin: 0 auto;
  max-width: 800px;
  font-size: 110%;
  line-height: 1.6;
}
@media only screen and ( max-width: 767px ) {
  .site__content .content__intro {
    font-size: 14px;
  }
}
.site__content .content__projects {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.site__content .content__projects .project {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 30px;
}
@media only screen and ( max-width: 767px ) {
  .site__content .content__projects .project {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
}
.site__content .content__projects .project .project__header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background: #6e5ea6;
  color: #fff;
  margin: 0 15px;
  border-radius: 4px 4px 0 0;
}
.site__content .content__projects .project .project__header .icon {
  -webkit-flex-basis: 80px;
  flex-basis: 80px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #544686;
  border-radius: 4px 0 0 0;
}
.site__content .content__projects .project .project__header .icon img {
  display: block;
  width: 50%;
}
.site__content .content__projects .project .project__header .title {
  padding: 24px 20px;
  margin: 0;
  font-size: 25px;
  line-height: 1;
}
.site__content .content__projects .project .project__header .title a {
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  color: inherit;
  text-decoration: none;
}
.site__content .content__projects .project .project__header .title a:hover {
  opacity: 0.65;
}
.site__content .content__projects .project .project__info {
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  margin: 0 15px;
  overflow: hidden;
  padding: 20px;
  border: solid 1px #e5e5e5;
  border-radius: 0 0 4px 4px;
  border-top: 0;
}
.site__content .content__projects .project .project__info p {
  color: #8e9498;
  font-family: "canada-type-gibson", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  max-width: 90%;
}
.site__content .content__projects .project .project__info .btn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.site__content .content__projects .project .project__info .btn:not(:last-child) {
  margin-right: 6px;
}
.site__content .content__footer {
  color: #8e9498;
  font: normal 14px / 1 "canada-type-gibson", "Helvetica", "Arial", sans-serif;
  text-align: center;
}
.site__content .content__footer a {
  color: inherit;
}
.site__content .content__footer a:hover {
  color: #7ec348;
}
